<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
    <div class="logo">EFTFTR</div>
    <div class="logout"><button class="fa">Logout &nbsp; &#xf08b;</button></div>
</div>