<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/CSS/index.css">
</head>
<body>
    <div class="loginformcard">
        <h1>Login</h1>
        <form action="/users/login" method="POST" class="loginform">
            <input type="email" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password">
            <input type="submit" name="login" value="Login">
        </form>
        <p class="nottherightform">Don't have an account? <a href="/authentication/signupform">Signup</a></p>
    </div>
</body>
</html>