<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/CSS/index.css" />
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <form action="/site/encrypt" method="POST" class="receiverform">
      <h1>Enter email address of receiver</h1>
      <input type="email" name="email" placeholder="Email Address"/>
      <button class="sendmail fa">&#xf1d8;</button>
    </form>
  </body>
</html>
