<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/CSS/index.css">
</head>
<body>
    <div class="signupformcard">
        <h1>Signup</h1>
        <form action="/authentication/add" method="post" class="signupform">
            <input type="email" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password">
            <input type="password" placeholder="Confirm Password" name="password_conf">
            <input type="submit" name="signup" value="Signup">
        </form>
        <p class="nottherightform">Already have an account? <a href="/authentication/loginform">Login</a></p>
    </div>
</body>
</html>